<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="home.html :: header"> </header>
<h2>Students</h2>
	<div th:each="student : ${students}">
 <a th:href="|@{/student/edit/{id}(id=${student.matricule})}|"> <span th:text="${student.nomPrenom}">FULLNAME</span></a><br/>
 <a th:href="|@{/student/delete/{id}(id=${student.matricule})}|">effacer</a>
 </div><br>
<a th:href="|@{student/add}|">ajouter un etudiant</a>
</body>
</html>