<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:insert="home.html :: header"> </header>
	<h2>add Classe </h2>
	<form th:action="@{/classe/add}" id="postClasse" method="post">
	<label for="label">label: </label>
 	<input type="text" name="label" /><br/>
 	<label for="fullName">Nom complet: </label>
 	<input type="text" name="fullName" /><br/>
 
 	<input type="submit" value="Register"/>
	</form>
</body>
</html>