<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<header th:insert="home.html :: header"> </header>
<form th:action="|@{/classe/markabs/{id}(id=${classe.id})}|" th:object="${formWeekMatiere}" method="post" id="form1">
<select name="week"> 
<option th:each="week : ${weeks}" th:value="${week}" th:text="${week}"></option>
</select>
<ul><li th:each="matiere : ${classe.listMatieres}">
<div>
<input name="ids" type="checkbox"  th:value="${matiere.id}"> 
<label th:text="${matiere.label}"></label>
</div>
</li></ul>
<input type="submit" value="Register" form="form1"/>
</form>
<form action="#" th:action="|@{/classe/postmarkabs/{id}(id=${classe.id})}|" th:object="${markAbsence}" method="post" id="form2">
<table>
<tr>
  <th></th>
  <div th:each="map: ${maps}"> 
  <th>
  <p th:text="${map.key.matiere.label} ">ggg</p>
  </th>
  </div>
  </tr> 
	<div th:each="student,s: ${students}">
  		<tr>
  			<th><p th:text="${student.nomPrenom}"></p></th>
  			<div th:each="map : ${maps}">
  			<th> 
					<input name="keys" type="checkbox"  th:value="${map.key.id}+'_'+${student.matricule}" >
					
					
					
				</th>
  			</div>
  			
  
  		</tr>
  	</div> 

</table>
<input type="submit" value="Marquer" form="form2"/>
</form>
</body>
</html>